<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIFO</title>
</head>
<body>
    <form method="post">
        <p> Total Number of Processes <input name="n" type="number" value="{{n}}" min="0"> </p>
        <button type="submit" > SUBMIT </button>
    
    {% if n  %}
    
        {% for i in range(n) %}

        <p> P{{i+1}} Arrival Time <input type="number" name="at{{i}}"></p>
        <p> P{{i+1}}  Burst Time <input type="number" name="bt{{i}}"></p>
        {% endfor %}
        <button type="submit" name="start"> SUBMIT </button>
    
    {% endif %}
    </form>

</body>
</html>