<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SJF</title>
    <link rel="stylesheet" href="/static/fifo.css">
</head>
<body>
    <form  action="{{ url_for('home') }}">
        <button type="submit" > HOME </button>
    </form>
    <h1 style="text-align: center; font-weight: bolder;"> SJF </h1>
    <form method="post">
        <p> Total Number of Processes <input name="n" type="number" value="{{n}}" min="0"> </p>
        <button type="submit" > SUBMIT </button>
    
    {% if n  %}
    
        {% for i in range(n) %}
        <div style="display: flex; justify-content: center;">
            <p> P{{i+1}} Arrival Time <input type="number" name="at{{i}}"></p>
            <p> P{{i+1}}  Burst Time <input type="number" name="bt{{i}}"></p>
        </div>
        {% endfor %}
        <button type="submit" id="start" name="start"> SUBMIT </button>
    
    {% endif %}
    </form>

    {% if table %}
    <table >
        <thead>
            <tr>
                <th>Process Number</th>
                <th>Burst Time</th>
                <th>Arrival Time</th>
                <th>Waiting Time</th>
                <th>Turnaround Time</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(n) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ bt[i] }}</td>
                <td>{{ at[i] }}</td>
                <td>{{ wt[i] }}</td>
                <td>{{ tat[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="justify-content: center;">
        <p> Average Waiting Time: {{AvgWT}} </p>
        <p> Average Turnaround Time: {{AVGTaT}} </p>
    </div>
    {% endif%}
</body>
</html>